body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;
}
a {
  text-decoration: none;
  display: block;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}
img {
  display: block;
}
ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style-type: none;
}
button {
  cursor: pointer;
}
.container {
  max-width: 1158px;
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}
/* Header */
.header-page {
  border-bottom: 1px solid #e7e9fc;
}
.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-page {
  display: flex;
  align-items: center;
}
.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  padding-left: 15px;
  padding-top: 25.5px;
  padding-bottom: 25.5px;
  margin-right: 76px;
}
.logo-style {
  color: #2e2f42;
}
.nav-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
  padding: 24px 0;
}
.nav-item {
  padding: 24px 0;
}

.nav-item-link {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
  padding: 24px 0;
}
.nav-item-link:hover,
.nav-item-link:focus {
  color: #404bbf;
}
.address-page {
  font-style: normal;
}
.address-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
}
.address-item {
}
.address-item-link {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  font-style: normal;
}
.address-item-link:hover,
.address-item-link:focus {
  color: #404bbf;
}
/* Hero */
.hero {
  display: block;
  background-color: #2e2f42;
  padding-top: 188px;
  padding-bottom: 188px;
  max-width: 1158px;
  align-items: center;
  margin: 0 auto;
}

.hero-title {
  display: flex;
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  color: #fff;
  max-width: 496px;
  height: 120px;
  text-align: center;
  margin-bottom: 48px;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
}

.hero-btn {
  display: block;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  background-color: #4d5ae5;
  border: none;
  border-radius: 4px;
  padding: 16px 32px;
  height: 56px;
  gap: 10px;
  min-width: 169px;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
  margin-top: 48px;
}
.hero-btn:hover,
.hero-btn:focus {
  background-color: #404bbf;
}
/* Features */
.features {
  display: flex;
  padding: 120px 0;
}

.features-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.features-list {
  display: flex;
  padding-top: 120px;
  padding-bottom: 120px;
  margin-left: auto;
  margin-right: auto;
  gap: 24px;
}
.features-item {
  flex-basis: calc((100% - 3 * 24px) / 4);
}
.features-sub-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}
.features-sub-title-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
/* Team */
.team {
  display: flex;
  background-color: #f4f4fd;
  padding-top: 120px;
  padding-bottom: 120px;
  width: 1158px;
  align-items: center;
  margin: 0 auto;
}
.team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11111;
  letter-spacing: 0.02em;
  line-height: 1.11;
  text-align: center;
  text-transform: capitalize;
  color: #2e2f42;
  margin-bottom: 72px;
}
.team-list {
  display: flex;
  gap: 24px;
}
.team-item {
  background-color: #ffffff;
  border-radius: 0 0 4px 4px;
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
  background: #fff;
}
.team-container {
  padding: 32px 0;
}
.team-sub-title .container {
  text-align: center;
  margin-bottom: 8px;
}
.team-sub-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  text-align: center;
  margin-bottom: 8px;
}
.team-text .container {
  text-align: center;
}
.team-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  text-align: center;
}
/* Portfolio */
.portfolio {
  display: flex;
  padding-top: 120px;
  padding-bottom: 120px;
}
.portfolio-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11111;
  letter-spacing: 0.02em;
  line-height: 1.11;
  text-align: center;
  text-transform: capitalize;
  color: #2e2f42;
  margin-bottom: 72px;
}
.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  row-gap: 48px;
}
.portfolio-item {
  margin-bottom: 48px;
  border: 1px solid #e7e9fc;
  width: 360px;
}
.portfolio-container {
  border: 1px solid #e7e9fc;
  border-top: none;
  padding: 32px 16px;
}
.portfolio-sub-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  padding-top: 32px;
  margin-bottom: 8px;
  padding-right: auto;
}
.portfolio-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  padding-bottom: 32px;
  padding-right: 314px;
}
/* Footer */
.footer {
  display: flex;
  align-items: center;
  background-color: #2e2f42;
  padding: 100px 0 100px;
  max-width: 1158px;
  margin: 0 auto;
}

.footer-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.16667;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  line-height: 1.17;
  color: #4d5ae5;
  align-items: center;
  margin-bottom: 16px;
  padding-left: 156px;
  padding-right: 1169px;
  display: inline-block;
}
.footer-logo-style {
  color: #f4f4fd;
}
.footer-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  align-items: center;
  padding-left: 156px;
  padding-bottom: 100px;
  padding-right: 670px;
}
